Algo_choice 1
numOuterThreads 1
Audio_offset 0.0
Audio_max_duration 2.0
File_Type 0
Dump_Directory vrcts
language2classmapping language2classmapping.csv
fileslisting fileslisting.csv
Neural_Networks_BackPropagation_Epochs 2
Neural_Networks_Gradient_Check_Epsilon 0.0
multiConfigResultsOutputFile MultiConfigResults.mat
TDC_window 0.032
TDC_shift 0.01
TDC_lags 0.002,0.016
TDC_balance 0.7
TDC_windowing_type hamming
TDC_windowing_param 0.8
TDC_flag_DCOffset false
TDC_preemph_ratio 0.97
TDC_noise_seed 0
TDC_noise_ratio 0
TDC_decision_thresh_rising 0.6
TDC_decision_area_rising 0.05
TDC_decision_thresh_falling 0.3
TDC_decision_area_falling 0.1
TDC_convolution_window_size 4
TDC_convolution_window_type hann
TDC_speech_padding 0.1,0.1,0.1,0.1
TDC_min_speech 0.2,0.2,0.2
TDC_min_silence 0.2,0.2
