BLSTM_spectrum_order 8
BLSTM_spectrum_shift 0.01
BLSTM_spectrum_temporal_convolution_size 0
BLSTM_spectrum_temporal_convolution_type none
BLSTM_windowing_type hamming
BLSTM_windowing_param 0.83333
BLSTM_flag_DCOffset true
BLSTM_preemph_ratio 0.97
BLSTM_noise_seed 0
BLSTM_noise_ratio 0.001
BLSTM_minFreq 64
BLSTM_maxFreq 3800
BLSTM_minMelFreq 64
BLSTM_maxMelFreq 3800
BLSTM_nb_bins 26
BLSTM_is_log_mel true
BLSTM_nb_DCT 13
BLSTM_IgnoreFirstDCT true
BLSTM_ComputeDeltasNb -1
BLSTM_ComputeDeltaDeltasNb 0
BLSTM_LTSVwindow 0.3
BLSTM_LTSVshift 0.04
BLSTM_TDCwindow 0
