numOuterThreads 7
numInnerThreads 1
multiConfigResultsOutputFile MultiConfigResults.mat
Display_Height 0
Display_MillisecondsPerPixel 64
Display_WaveAll_Height 50
Display_WaveAll_Width 1000
Display_Output_Directory /tmp/fsp/Figures
Audio_offset 0
Audio_max_duration 240
Algo_choice 3
BLSTM_decision_thresh_rising 1.245303768532371e-01
BLSTM_decision_area_rising 2.453058254690992e-03
BLSTM_decision_thresh_falling 1.245303768532371e-01
BLSTM_decision_area_falling 5.792820934597009e-03
BLSTM_windowing_type none
BLSTM_windowing_param 8.792550821973736e-01
BLSTM_convolution_window_type hamming
BLSTM_convolution_window_size 10
BLSTM_flag_DCOffset false
BLSTM_preemph_ratio 8.079177732221721e-01
BLSTM_noise_seed 3
BLSTM_noise_ratio 4.419733118878353e-01
BLSTM_speech_padding 1.373810577204357e-01,-4.850936621528656e-02,-6.761107878011832e-03,7.992856197243237e-02
BLSTM_min_silence 9.953126333798312e-02,5.202374664599677e-02
BLSTM_min_speech -5.362201762332296e-02,6.838808660303286e-04,1.669820753933647e-01
BLSTM_spectrum_order 8
BLSTM_spectrum_shift 5.000000000000000e-01
BLSTM_spectrum_temporal_convolution_type uniform
BLSTM_spectrum_temporal_convolution_size 7
BLSTM_window 3.108411095782162e+00
BLSTM_shift 2.589072962820708e+00
BLSTM_LTSVwindow 1.834722887222435e+00
BLSTM_LTSVshift 1.445882185910203e+00
BLSTM_TDCwindow 2.650237202434586e-02
BLSTM_TDC_lags 8.552387685694329e-04,1.502011877634714e-02
BLSTM_TDC_balance -3.195131883119797e-01
BLSTM_TDCshift 3.061564662555614e-01
BLSTM_TDC_windowing_type hann
BLSTM_TDC_windowing_param 8.106989684176111e-02
BLSTM_minFreq 5.092616396349646e+01
BLSTM_maxFreq 7.696408782916687e+03
BLSTM_minMelFreq 1.996393539502623e+03
BLSTM_maxMelFreq 2.657280534721561e+03
BLSTM_nb_bins 8
BLSTM_is_log_mel false
BLSTM_nb_DCT 8
BLSTM_ComputeDeltasNb 7
BLSTM_ComputeDeltaDeltasNb 6
BLSTM_IgnoreFirstDCT true
BLSTM_BackPropagationActivated true
BLSTM_TwoSweeps true
BLSTM_LSTMNeuronNb 3,2
BLSTM_LSTMSubSampling 2
BLSTM_NNType 0
BLSTM_NNetInputSize 3
BLSTM_OutputNeuronNb 4,2,1
BLSTM_OutputSubSampling 1,1
BLSTM_weightsFile NNweights.mat
BLSTM_CostLawSpeech linear
BLSTM_CostLawNoSpeech square
BLSTM_CostLawParamSpeech 5.721764882163124e-01
BLSTM_CostLawParamNoSpeech 6.620114945399789e-01
BLSTM_CostLawThreshSpeech 6.885455550934156e-01
BLSTM_CostLawThreshNoSpeech 6.497192484278494e-01
BLSTM_CostPonderation 5.525555656281284e-01
language2classmapping /tmp/fsp/languagemapping.csv
BLSTM_use_cep_files 0
BLSTM_InputNormalizationType -1
BLSTM_Forward_IsCellsPeepholesActive true
BLSTM_Backward_IsCellsPeepholesActive true
BLSTM_Forward_IsGatesPeepholesActive true
BLSTM_Backward_IsGatesPeepholesActive true
BLSTM_Forward_IsGatesRecurrentPeepholesActive true
BLSTM_Backward_IsGatesRecurrentPeepholesActive true
fileslisting /tmp/fsp/fileslisting
