numOuterThreads 7
numInnerThreads 1
multiConfigResultsOutputFile MultiConfigResults.mat
Display_Height 0
Display_MillisecondsPerPixel 64
Display_WaveAll_Height 50
Display_WaveAll_Width 1000
Display_Output_Directory /tmp/fsp/Figures
Audio_offset 0
Audio_max_duration 240
Algo_choice 3
BLSTM_decision_thresh_rising 7.000000000000000e-01
BLSTM_decision_area_rising 5.807536493971643e-04
BLSTM_decision_thresh_falling 1.258673795896590e-01
BLSTM_decision_area_falling 2.473160566795083e-03
BLSTM_windowing_type hHCw
BLSTM_windowing_param 5.761925812702714e-01
BLSTM_convolution_window_type none
BLSTM_convolution_window_size 9
BLSTM_flag_DCOffset false
BLSTM_preemph_ratio 9.401898952050015e-01
BLSTM_noise_seed -3
BLSTM_noise_ratio 7.529691381984143e-01
BLSTM_speech_padding 4.795596855316721e-01,2.785397910548643e-01,7.441622542751639e-02,-9.210665132301876e-02
BLSTM_min_silence 4.640011336245614e-02,1.249877118900897e-01
BLSTM_min_speech 1.355617324340363e-01,7.911452093542362e-02,0
BLSTM_spectrum_order 6
BLSTM_spectrum_shift 2.628211118502940e-01
BLSTM_spectrum_temporal_convolution_type hHCw
BLSTM_spectrum_temporal_convolution_size 6
BLSTM_window 1.663496214287276e+00
BLSTM_shift 1.714223146958856e+00
BLSTM_LTSVwindow 1.593600777464098e+00
BLSTM_LTSVshift 1.579947252909101e+00
BLSTM_TDCwindow 3.508743325835339e-02
BLSTM_TDC_lags 1.164564073459329e-04,1.761381779553427e-02
BLSTM_TDC_balance -1.495033209335591e-01
BLSTM_TDCshift 2.553350538129683e-01
BLSTM_TDC_windowing_type hann
BLSTM_TDC_windowing_param 2.721981507605110e-01
BLSTM_minFreq 8.964519255623090e+01
BLSTM_maxFreq 8.029514607767046e+03
BLSTM_minMelFreq 6.364550357513019e+02
BLSTM_maxMelFreq 1.453888123343169e+03
BLSTM_nb_bins 6
BLSTM_is_log_mel true
BLSTM_nb_DCT 8
BLSTM_ComputeDeltasNb 9
BLSTM_ComputeDeltaDeltasNb 9
BLSTM_IgnoreFirstDCT false
BLSTM_BackPropagationActivated true
BLSTM_TwoSweeps true
BLSTM_LSTMNeuronNb 3,2
BLSTM_LSTMSubSampling 2
BLSTM_NNType 0
BLSTM_NNetInputSize 3
BLSTM_OutputNeuronNb 4,2,1
BLSTM_OutputSubSampling 1,1
BLSTM_weightsFile NNweights.mat
BLSTM_CostLawSpeech log
BLSTM_CostLawNoSpeech log
BLSTM_CostLawParamSpeech 2.870648022876263e-01
BLSTM_CostLawParamNoSpeech 4.650817967605881e-01
BLSTM_CostLawThreshSpeech 6.064513562187868e-01
BLSTM_CostLawThreshNoSpeech 6.935716131543620e-01
BLSTM_CostPonderation 7.164192821107963e-01
language2classmapping /tmp/fsp/languagemapping.csv
BLSTM_use_cep_files 0
BLSTM_InputNormalizationType -1
BLSTM_Forward_IsCellsPeepholesActive true
BLSTM_Backward_IsCellsPeepholesActive true
BLSTM_Forward_IsGatesPeepholesActive true
BLSTM_Backward_IsGatesPeepholesActive true
BLSTM_Forward_IsGatesRecurrentPeepholesActive true
BLSTM_Backward_IsGatesRecurrentPeepholesActive true
fileslisting /tmp/fsp/fileslisting
