numOuterThreads 7
numInnerThreads 1
multiConfigResultsOutputFile MultiConfigResults.mat
Display_Height 0
Display_MillisecondsPerPixel 64
Display_WaveAll_Height 50
Display_WaveAll_Width 1000
Display_Output_Directory /tmp/fsp/Figures
Audio_offset 0
Audio_max_duration 240
Algo_choice 3
BLSTM_decision_thresh_rising 5.345894566495375e-01
BLSTM_decision_area_rising 3.512040308952560e-03
BLSTM_decision_thresh_falling 1.917129820974416e-01
BLSTM_decision_area_falling 7.696670233579017e-04
BLSTM_windowing_type hamming
BLSTM_windowing_param 3.146863094928914e-02
BLSTM_convolution_window_type hann
BLSTM_convolution_window_size 2
BLSTM_flag_DCOffset true
BLSTM_preemph_ratio 5.482792183290233e-01
BLSTM_noise_seed 3
BLSTM_noise_ratio 8.083153794460607e-01
BLSTM_speech_padding 7.632582376696349e-01,7.521933859413423e-01,6.739180710040856e-01,5.363169851811834e-01
BLSTM_min_silence 3.553278622168938e-01,1.528168467493221e-01
BLSTM_min_speech -4.634919626389454e-02,1.763756724784035e-02,1.401408231371580e-01
BLSTM_spectrum_order 7
BLSTM_spectrum_shift 2.942339927862956e-01
BLSTM_spectrum_temporal_convolution_type hann
BLSTM_spectrum_temporal_convolution_size 1
BLSTM_window 2.499603730816365e-01
BLSTM_shift 7.762546796046991e-01
BLSTM_LTSVwindow 1.265399844550565e+00
BLSTM_LTSVshift 1.944498680496730e+00
BLSTM_TDCwindow 6.527564299745765e-02
BLSTM_TDC_lags 6.022595594862377e-02,6.385077967157148e-02
BLSTM_TDC_balance 4.947130301077415e-01
BLSTM_TDCshift 3.468109918989369e-01
BLSTM_TDC_windowing_type hann
BLSTM_TDC_windowing_param 1.308482463497276e-02
BLSTM_minFreq 6.109246761305441e+01
BLSTM_maxFreq 8.208315638138167e+03
BLSTM_minMelFreq 7.435552918189835e+02
BLSTM_maxMelFreq 9.255754840943571e+02
BLSTM_nb_bins 1
BLSTM_is_log_mel false
BLSTM_nb_DCT 3
BLSTM_ComputeDeltasNb 5
BLSTM_ComputeDeltaDeltasNb 7
BLSTM_IgnoreFirstDCT false
BLSTM_BackPropagationActivated true
BLSTM_TwoSweeps false
BLSTM_LSTMNeuronNb 3,2
BLSTM_LSTMSubSampling 2
BLSTM_NNType 0
BLSTM_NNetInputSize 3
BLSTM_OutputNeuronNb 4,2,1
BLSTM_OutputSubSampling 1,1
BLSTM_weightsFile NNweights.mat
BLSTM_CostLawSpeech square
BLSTM_CostLawNoSpeech square
BLSTM_CostLawParamSpeech 0
BLSTM_CostLawParamNoSpeech 0
BLSTM_CostLawThreshSpeech 0
BLSTM_CostLawThreshNoSpeech 1.803443953262260e-01
BLSTM_CostPonderation 3.787281531352048e-01
language2classmapping /tmp/fsp/languagemapping.csv
BLSTM_use_cep_files 0
BLSTM_InputNormalizationType -1
BLSTM_Forward_IsCellsPeepholesActive true
BLSTM_Backward_IsCellsPeepholesActive true
BLSTM_Forward_IsGatesPeepholesActive true
BLSTM_Backward_IsGatesPeepholesActive true
BLSTM_Forward_IsGatesRecurrentPeepholesActive true
BLSTM_Backward_IsGatesRecurrentPeepholesActive true
fileslisting /tmp/fsp/fileslisting
