numOuterThreads 7
numInnerThreads 1
multiConfigResultsOutputFile MultiConfigResults.mat
Display_Height 0
Display_MillisecondsPerPixel 64
Display_WaveAll_Height 50
Display_WaveAll_Width 1000
Display_Output_Directory /tmp/fsp/Figures
Audio_offset 0
Audio_max_duration 240
Algo_choice 6
BLSTM_decision_thresh_rising 2.159502270682798e-01
BLSTM_decision_area_rising 9.993758557512683e-04
BLSTM_decision_thresh_falling 4.182705566833966e-02
BLSTM_decision_area_falling 4.874765179322743e-04
BLSTM_windowing_type hann
BLSTM_windowing_param 2.410573131036509e-01
BLSTM_convolution_window_type hHCw
BLSTM_convolution_window_size 6
BLSTM_flag_DCOffset true
BLSTM_preemph_ratio 8.375531562096918e-01
BLSTM_noise_seed -3
BLSTM_noise_ratio 8.977864407999074e-01
BLSTM_speech_padding 7.269728356626398e-01,5.950625795126365e-01,4.172087776698586e-01,2.147736035164882e-01
BLSTM_min_silence 1.246978050185481e-02,-3.504829792409835e-02
BLSTM_min_speech 9.601972983546112e-02,1.654183501042579e-01,1.660304195898022e-01
BLSTM_spectrum_order 6
BLSTM_spectrum_shift 8.280076517167875e-02
BLSTM_spectrum_temporal_convolution_type hamming
BLSTM_spectrum_temporal_convolution_size 3
BLSTM_window 3.483975866277683e-01
BLSTM_shift 4.569233966928975e-01
BLSTM_LTSVwindow 5.227183339180831e-01
BLSTM_LTSVshift 6.194170686570348e-01
BLSTM_TDCwindow 5.998996320884791e-02
BLSTM_TDC_lags 3.440070500565058e-02,4.935523288313230e-02
BLSTM_TDC_balance 1.723653780255556e-01
BLSTM_TDCshift 3.996439672425966e-03
BLSTM_TDC_windowing_type hann
BLSTM_TDC_windowing_param 2.349782025237763e-01
BLSTM_minFreq 1.339268557955975e+02
BLSTM_maxFreq 8.231874578191695e+03
BLSTM_minMelFreq 1.095165247638013e+02
BLSTM_maxMelFreq 5.186175309972048e+02
BLSTM_nb_bins 2
BLSTM_is_log_mel true
BLSTM_nb_DCT 6
BLSTM_ComputeDeltasNb 8
BLSTM_ComputeDeltaDeltasNb 9
BLSTM_IgnoreFirstDCT false
BLSTM_BackPropagationActivated true
BLSTM_TwoSweeps false
BLSTM_LSTMNeuronNb 3,2
BLSTM_LSTMSubSampling 2
BLSTM_NNType 0
BLSTM_NNetInputSize 3
BLSTM_OutputNeuronNb 4,2,1
BLSTM_OutputSubSampling 1,1
BLSTM_weightsFile NNweights.mat
BLSTM_LID_decision_thresh_rising -3.115609607981324e-01
BLSTM_LID_decision_thresh_falling 3.115609607981324e-01
BLSTM_LID_window 4.448395239450011e-02
BLSTM_LID_shift 1.106416007786478e-01
BLSTM_LID_BackPropagationActivated false
BLSTM_LID_TwoSweeps true
BLSTM_LID_LSTMNeuronNb 2,3
BLSTM_LID_LSTMSubSampling 1
BLSTM_LID_NNType 0
BLSTM_LID_NNetInputSize 2
BLSTM_LID_OutputNeuronNb 6,1
BLSTM_LID_OutputSubSampling 1
BLSTM_LID_weightsFile LIDNNweights.mat
BLSTM_CostLawSpeech linear
BLSTM_CostLawNoSpeech linear
BLSTM_CostLawParamSpeech 0
BLSTM_CostLawParamNoSpeech 0
BLSTM_CostLawThreshSpeech 0
BLSTM_CostLawThreshNoSpeech 0
BLSTM_CostPonderation 1.000000000000000e-02
language2classmapping /tmp/fsp/languagemapping.csv
BLSTM_use_cep_files 0
BLSTM_BackPropOutputNetworkOnly true
BLSTM_InputNormalizationType -1
BLSTM_Forward_IsCellsPeepholesActive true
BLSTM_Backward_IsCellsPeepholesActive true
BLSTM_Forward_IsGatesPeepholesActive true
BLSTM_Backward_IsGatesPeepholesActive true
BLSTM_Forward_IsGatesRecurrentPeepholesActive true
BLSTM_Backward_IsGatesRecurrentPeepholesActive true
BLSTM_LID_BackPropOutputNetworkOnly true
BLSTM_LID_TargetEnforcementStep 0
BLSTM_LID_Mode 7
BLSTM_LID_BackPropWER -1
BLSTM_LID_CostPonderation 1.000000000000000e-02
BLSTM_LID_CostLawSpeech linear
BLSTM_LID_CostLawNoSpeech square
BLSTM_LID_CostLawParamSpeech 5.592249485308192e-01
BLSTM_LID_CostLawParamNoSpeech 7.367342439319424e-01
BLSTM_LID_CostLawThreshSpeech 8.678115551665806e-01
BLSTM_LID_CostLawThreshNoSpeech 9.373077190119561e-01
BLSTM_LID_InputNormalizationType -1
BLSTM_LID_Forward_IsCellsPeepholesActive true
BLSTM_LID_Backward_IsCellsPeepholesActive true
BLSTM_LID_Forward_IsGatesPeepholesActive true
BLSTM_LID_Backward_IsGatesPeepholesActive true
BLSTM_LID_Forward_IsGatesRecurrentPeepholesActive true
BLSTM_LID_Backward_IsGatesRecurrentPeepholesActive true
fileslisting /tmp/fsp/fileslisting
