LTSV_spectrum_order 8
LTSV_spectrum_shift 0.01
LTSV_spectrum_temporal_convolution_size 4
LTSV_spectrum_temporal_convolution_type hann
LTSV_minMelFreq 64
LTSV_maxMelFreq 3800
LTSV_nb_bins 26
LTSV_is_log_mel true
LTSV_nb_DCT 0
LTSV_IgnoreFirstDCT false
LTSV_ComputeDeltasNb 0
LTSV_ComputeDeltaDeltasNb 0
LTSV_minFreq 64
LTSV_maxFreq 3800
LTSV_window 0.001
LTSV_shift 0.04
LTSV_flag_DCOffset true
LTSV_preemph_ratio 0.97
LTSV_noise_seed 0
LTSV_noise_ratio 0
LTSV_windowing_type hamming
LTSV_windowing_param 0.83333
LTSV_decision_thresh_rising 0.6
LTSV_decision_area_rising 0.05
LTSV_decision_thresh_falling 0.3
LTSV_decision_area_falling 0.1
LTSV_convolution_window_size 4
LTSV_convolution_window_type hann
LTSV_speech_padding 0.1,0.1,0.1,0.1
LTSV_min_speech 0.2,0.2,0.2
LTSV_min_silence 0.2,0.2
LTSV_LTSVwindow 0
LTSV_LTSVshift 0
LTSV_TDCwindow 0
